langchain
langchain-community
langchain-openai
langchain-text-splitters
langchain-experimental
chromadb
python-dotenv
tiktoken
scikit-learn
sentence-transformers
numpy
openai
transformers
fastapi
uvicorn
pypdf
pymupdf
google-generativeai
streamlit